[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
	branch = v1.12.0
[submodule "lib/open-zeppelin"]
	path = lib/open-zeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/v3-core"]
	path = lib/v3-core
	url = https://github.com/Uniswap/v3-core
	branch = v1.0.0
[submodule "lib/v3-periphery"]
	path = lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
	branch = v1.3.0


[submodule "contracts/lib/chainlink"]
	path = contracts/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	branch = v4.8.1
[submodule "contracts/lib/v3-core"]
	path = contracts/lib/v3-core
	url = https://github.com/Uniswap/v3-core
[submodule "contracts/lib/v3-periphery"]
	path = contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
